nav {
    border-top: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '|';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
