<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <body>
	    <div>
		    <h1>David's blog</h1>
		    <hr>
	    </div>
    <div>
      {{ page.content }}
    </div>
    </body>
</html>
